
:root{
  font-size: 17px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  --color-1: #3e69dd;
  --color-2: #cbfddb;
  --color-3: #e296f5;
  --color-pagina: rgb(229, 241, 183);
  --color-texto: black;
  color: var(--color-texto);
}

body{
  background-color: var(--color-2);
  justify-content: center;
  color: var(--color-texto);
  margin: 0;
}

#pagina{
  display: flexbox;
  justify-content:center;
  margin: auto;
  min-width: 1050px;
  max-width: 50%;
  padding: 20px;
  background-color: var(--color-pagina);
}

.contenedor{
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(236, 255, 126);
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 2px 2px 7px rgb(74, 135, 226);
  border-radius: 30px;
} 

.title{
  background-color: rgb(231, 196, 149);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center; color: dodgerblue; border: 8px groove;
}

.titulos{
        
        width: 350px;
        border: 4px;  
        padding: 5px;
        margin: 5px;
    font-family:  'Roboto', sans-serif;; text-align: justify; color: rgb(19, 61, 104);
}

img{
  border-radius: 50%;
  width: 100px;
}

h2{
  margin-top: 25px;
}

.go-top-container{
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: -1;
}

.go-top-button{
  height: 0rem;
  width: 0rem;
  background-color: brown;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i{
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50, -50); scale: (0);
  color: lightsalmon;
  transition: .2S;
}

.show{
  z-index: 10;
}

.show .go-top-button{
  animation: popup .3s ease-in-out;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 11;
}

.show i{
  transform: translate(-50, -50); scale: (1);
}

@keyframes popup{
  0%{
    width: 0rem;
    height: 0rem; 
  }
  50%{
    width: 8rem;
    height: 8rem;
  }
  100%{
    width: 6.6rem;
    height: 6.6rem;
  }
}